<a href="https://colab.research.google.com/github/sim-mautner/cs1010-21t3/blob/main/lectures/03-python-and-programming-fundamentals/04-collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

> Topic 3<br>
> Python and Programming Fundamentals<br>
> COMP1010 2021 T3<br>
> Week 1-3

> Topic 3.4<br>
> Collections

# 1 - Lists

You have 4 students in the class. Create variables to store their project grades.

In [ ]:
student1_grade = 75
student2_grade = 80
student3_grade = 91
student4_grade = 72

What happens when you have 10 students in the class? Or 100? I hear there's at least one COMP course with 1000 students.

Lists are:
* Used to store multiple items in one variable
* Created using square brackets (eg `my_list = []`)
* Ordered
* Changeable
* Allow duplicate values

As always (in Python), lists are indexed from 0.

Create a list. (Topic suggestions welcome in chat.)

In [1]:
hd_students = []

Print the list.

In [2]:
print(hd_students)

[]

In [4]:
hd_students = ['Aly', 'Jane', 'Will', 'Liz']
print(hd_students)

['Aly', 'Jane', 'Will', 'Liz']

Append (add to the end) an element to the list. (And print it again.)

In [5]:
hd_students.append('Kai')
print(hd_students)

['Aly', 'Jane', 'Will', 'Liz', 'Kai']

Print out the length of the list.

In [6]:
print(len(hd_students))

5

Add some more elements to the list (using `append` and `insert`). Sort the list. (And print it again.)

In [7]:
hd_students.insert(0, 'Krishne')
print(hd_students)
hd_students.insert(1, 'Ellie')
print(hd_students)

['Krishne', 'Aly', 'Jane', 'Will', 'Liz', 'Kai']
['Krishne', 'Ellie', 'Aly', 'Jane', 'Will', 'Liz', 'Kai']

In [8]:
another_student = 'Chloe'
hd_students.append(another_student)
print(hd_students)

['Krishne', 'Ellie', 'Aly', 'Jane', 'Will', 'Liz', 'Kai', 'Chloe']

In [9]:
hd_students.sort()
print(hd_students)

['Aly', 'Chloe', 'Ellie', 'Jane', 'Kai', 'Krishne', 'Liz', 'Will']

Can we sort the list backwards?

In [10]:
hd_students.sort(reverse=True)
print(hd_students)

['Will', 'Liz', 'Krishne', 'Kai', 'Jane', 'Ellie', 'Chloe', 'Aly']

In [11]:
# Q: Do all the variables have to be the same?

# A: No.

random_stuff = [True, 42, 'Vietlan']
print(random_stuff)

[True, 42, 'Vietlan']

Count the number of times an element occurs in the list.

In [12]:
hd_students.append('Kai')
num_kai = hd_students.count('Kai')
print(num_kai)

2

Print out the element at index 2.

In [13]:
print(hd_students[2])

Krishne

What happens if we try to print (or access, or assign) an index which is larger than the length of the list?

In [14]:
print(hd_students[42])

IndexError: ignored

In [15]:
# Q: Can we index negative numbers?

print(hd_students[-1])

Kai

Change the element at index 1 to be different. Print the list again.

In [16]:
print(hd_students)

['Will', 'Liz', 'Krishne', 'Kai', 'Jane', 'Ellie', 'Chloe', 'Aly', 'Kai']

In [17]:
hd_students[1] = 'George'
print(hd_students)

['Will', 'George', 'Krishne', 'Kai', 'Jane', 'Ellie', 'Chloe', 'Aly', 'Kai']

Remove some elements from the list. (Removing by element, popping by index.) (Printing the list each time.) Remove by element and by index.

In [18]:
hd_students.remove('Jane')
print(hd_students)

['Will', 'George', 'Krishne', 'Kai', 'Ellie', 'Chloe', 'Aly', 'Kai']

In [19]:
hd_students.pop(0)
print(hd_students)

['George', 'Krishne', 'Kai', 'Ellie', 'Chloe', 'Aly', 'Kai']

Clear the list. (And print it again.)

In [20]:
hd_students.clear()
print(hd_students)

[]

Lists are also handy in some other situations. For example, can we use use a list to simplify our [months of the year](#eg_months_cell) example?

In [23]:
def month_to_text(num):
    month_strings = ['', 
                 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 
                 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    if not isinstance(num, int) or num < 1 or num > 12:
        return ''
    return month_strings[num]

In [ ]:
# Another approach

def month_to_text_v2(num):
    month_strings = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 
                     'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    if not isinstance(num, int) or num < 1 or num > 12:
        return ''
    return month_strings[num-1]

In [24]:
assert month_to_text(1) == "Jan"
assert month_to_text(2) == "Feb"
assert month_to_text(3) == "Mar"
assert month_to_text(4) == "Apr"
assert month_to_text(5) == "May"
assert month_to_text(6) == "Jun"
assert month_to_text(7) == "Jul"
assert month_to_text(8) == "Aug"
assert month_to_text(9) == "Sep"
assert month_to_text(10) == "Oct"
assert month_to_text(11) == "Nov"
assert month_to_text(12) == "Dec"
# We will learn more about errors later on. (see topics NoneType and Exceptions in 3.6)
assert month_to_text(0) == ""
assert month_to_text(-1) == ""
assert month_to_text(13) == ""
assert month_to_text("hello") == ""
assert month_to_text(3.14) == ""

Can we find out if an element is in the list? (Without searching through the list one by one.)

In [27]:
lockdown_hobbies = ['skipping', 'crochet', 'baking', 'exercising', 'reading']

my_hobby = input("Enter your hobby: ")

if my_hobby in lockdown_hobbies:
    print("Go for it.")
else:
    print("Sorry. Can't do that right now.")

Enter your hobby: partying
Sorry. Can't do that right now.

Can we loop through the list one by one?

In [28]:
for hobby in lockdown_hobbies:
    print(hobby)

skipping
crochet
baking
exercising
reading

In [29]:
for hobby in lockdown_hobbies:
    print(hobby, end=', ')

skipping, crochet, baking, exercising, reading,

Can we join two lists together? (aka What happens when we + two lists?)

In [30]:
pre_covid_hobbies = ['partying', 'choir', 'playgroup', 'gym']

hobbies = pre_covid_hobbies + lockdown_hobbies

print(hobbies)

['partying', 'choir', 'playgroup', 'gym', 'skipping', 'crochet', 'baking', 'exercising', 'reading']

Can lists contain lists? How would we access it? How would we print it?

In [34]:
mega_list = [
             pre_covid_hobbies,
             lockdown_hobbies
]

print(mega_list[0])
print(mega_list[1])

print(mega_list[0][1]) # Prints index 1 of pre_covid_hobbies (choir)
print(mega_list[1][3]) # Exercising

['partying', 'choir', 'playgroup', 'gym']
['skipping', 'crochet', 'baking', 'exercising', 'reading']
choir
exercising

In [40]:
shopping = [
            ['bananas', 'apples', 'pears'],
            ['toilet paper', 'deoderant'],
            ['ice cream', 'frozen pies']
]

for sub_list in shopping:
    print(sub_list)

print(shopping[2][0]) # ice cream

['bananas', 'apples', 'pears']
['toilet paper', 'deoderant']
['ice cream', 'frozen pies']
ice cream

Could we make the game Tic Tac Toe?

In [45]:
def print_board(board):
    for row in board:
        #print(row)
        for cell in row:
            print(cell + ' ', end='')
        print('\n')

board = [['-','-','-'],
         ['-','-','-'],
         ['-','-','-']]

player = 'X'
while True:
    print_board(board)
    row = int(input("Enter row: "))
    col = int(input("Enter col: "))
    board[row][col] = player
    if player == 'X':
        player = 'O'
    else:
        player = 'X'

- - -

- - -

- - -

Enter row: 0
Enter col: 0
X - -

- - -

- - -

Enter row: 0
Enter col: 2
X - O

- - -

- - -

Enter row: 2
Enter col: 2
X - O

- - -

- - X

KeyboardInterrupt: ignored

How can we show that the order matters in a list?

In [47]:
list1 = ['a','b','c']
list2 = ['a','b','c']

# Shows that two lists, with the same items in the same order are the same.
print(list1 == list2)

list3 = ['a','c','b']

# Shows that if we change the order, they are no longer equal.
print(list2 == list3)

True
False

# 2 - A warning about loops

Changing a list (or other collection), while looping over it, can cause unwanted results.

In [48]:
lockdown_hobbies = ['skipping', 'crochet', 'baking', 'exercising', 'reading']

for hobby in lockdown_hobbies:
    print(hobby)
    if hobby == 'skipping':
        lockdown_hobbies.remove('skipping')

skipping
baking
exercising
reading

# 3 - Dictionaries

In the real world, dictionaries let us look up *words* and find *meanings*.
In Python, dictionaries let us look up *keys* and find *values*.

Like a list, but with meaningful keys instead of indexes 0, 1, 2...

Create a dictionary mapping classes to tutor or lecturer.

In [50]:
classes = {'T15A':'Ellie', 'W12A':'Will', 'H15A':'Krishne'}

Which tutor teaches H15A?

In [52]:
print(classes['H15A'])

Krishne

Can we add another class to the dictionary?

In [53]:
classes['H15B'] = 'Will'
print(classes)

{'T15A': 'Ellie', 'W12A': 'Will', 'H15A': 'Krishne', 'H15B': 'Will'}

Can we change which tutor takes a class?

In [54]:
classes['W12A'] = 'Kai'
print(classes)

{'T15A': 'Ellie', 'W12A': 'Kai', 'H15A': 'Krishne', 'H15B': 'Will'}

Two tutors have swapped classes. How would we go about updating the dictionary?

In [55]:
# Approach 1

backup = classes['T15A']
classes['T15A'] = classes['W12A']
classes['W12A'] = backup

print(classes)

{'T15A': 'Kai', 'W12A': 'Ellie', 'H15A': 'Krishne', 'H15B': 'Will'}

In [56]:
# Approach 2

classes['T15A'], classes['W12A'] = classes['W12A'], classes['T15A']
print(classes)

{'T15A': 'Ellie', 'W12A': 'Kai', 'H15A': 'Krishne', 'H15B': 'Will'}

Obfuscation

Is there another way to solve this problem?

> Oh no, somaona hes dona somathing tarribla to my writing. Thay'va sweppad eround tha lattar 'e' end tha lattar 'a'

In [57]:
text = "Oh no, somaona hes dona somathing tarribla to my writing. Thay'va sweppad eround tha lattar 'e' end tha lattar 'a'"
result = ""
translation = {'a':'e', 'e':'a'}
for character in text:
    if character in translation:
        result += translation[character]
    else:
        result += character

print(result)

Oh no, someone has done something terrible to my writing. They've swapped around the letter 'a' and the letter 'e'

In [58]:
text.translate(str.maketrans(translation))

"Oh no, someone has done something terrible to my writing. They've swapped around the letter 'a' and the letter 'e'"

Dictionaries are:
* ordered*
* changeable
* does not allow duplicates

Note: As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

What happens if we try and put a duplicate entry into a dictionary?

In [59]:
print(classes)

{'T15A': 'Ellie', 'W12A': 'Kai', 'H15A': 'Krishne', 'H15B': 'Will'}

In [60]:
classes['T15A'] = 'Liz'
print(classes)

# Answer: it overwrites the value that was there, it doesn't add the same key again.

{'T15A': 'Liz', 'W12A': 'Kai', 'H15A': 'Krishne', 'H15B': 'Will'}

Can we loop through a dictionary and print out all the keys?

In [61]:
for tute in classes:
    print(tute)

T15A
W12A
H15A
H15B

Using what we know about dictionaries, how could we use our loop through the keys, to access all the information?

In [63]:
for tute in classes:
    print(tute+' '+classes[tute])

T15A Liz
W12A Kai
H15A Krishne
H15B Will

Is there a more concise way to display/use all the data in a dictionary?

In [65]:
for tute,tutor in classes.items():
    print(tute+' '+tutor)

T15A Liz
W12A Kai
H15A Krishne
H15B Will

### Text Analysis Using Dictionaries: E-mail Example

This list contains the e-mail addresses of 4 different students.

In [ ]:
emails = ["z1234567@student.unsw.edu.au", "z7654321@unsw.edu.au", "z7891234@ad.unsw.edu.au", "z1357924@student.unsw.edu.au"]

Can we build a dictionary containing the Zids as keys and the e-mail addresses as values?

How many students prefer each e-mail domain?

Can we group students by their preferred e-mail domain?

# 4 - Tuples

Tuples are:
* ordered
* unchangeable
* allows duplicates

In Python, Tuples are like lists, with on key difference. They are immutable. That means they cannot be changed after they have been created. In this way, they are similar to strings. They are created (defined) using the () (rather than [ ] like in lists and { } like in dictionaries).

Can we use a tuple to return several values from a function?

When visiting a theme park, many rides require you to be a certain height before you can ride them.

At a specific park there are:

* Red Riders: 85-105cm tall. They have access to 9 rides.
* Green Riders: 106-131cm tall. They have access to 21 rides.
* Yellow Riders: 132cm and taller. They have access to 27 rides.

Write a function which takes in the user's height in cm (as a parameter) and returns a string ("Red Rider", "Green Rider" or "Yellow Rider") and the number of rides they have access to.

Write a function which asks the user for their height and then calls the function, and displays the results.

In COMP1010, we are not going to use Tuples in more detail than this. If you are interested in further exploring this topic I recommend:
* [W3Schools Tuples](https://www.w3schools.com/python/python_tuples.asp)
* [Tutorials Point Tuples](https://www.tutorialspoint.com/python/python_tuples.htm)

# 5 - Sets

We aren't going to cover Python Sets in COMP1010. If you are interested in this form of collection, I recommend:
* [W3Schools Sets](https://www.w3schools.com/python/python_sets.asp)

# 6 - Complex Data Structures

## 1 - House Hunting

The following cell defines a list of houses for sale. It includes their address, number of bedrooms and bathrooms, price, and features (garage, pool, granny flat, etc.)

In [ ]:
houses = [
    { 
        "address": "42 Wallaby Way, Sydney", 
        "bedrooms": 3, 
        "bathrooms": 2, 
        "features": ["garage", "pool"] 
    },
    { 
        "address": "123 Fake Street, Mosman", 
        "bedrooms": 6, 
        "bathrooms": 3, 
        "features": ["pool", "granny flat"]     
    },
    { 
        "address": "1 High Street, Kensington", 
        "bedrooms": 2, 
        "bathrooms": 1, 
        "features": [] 
    },
    { 
        "address": "109 Kirribilli Ave, Kirribilli", 
        "bedrooms": 10, 
        "bathrooms": 7, 
        "features": ["garage", "pool", "wine cellar", "tennis court"] 
    }
]


Write the function `find_houses(houses, bedrooms, bathrooms, features)` that returns a list of the addresses of all the houses with at least the given number of bedrooms and bathrooms and at least the given list of features.

**NOTE:** Don't assume the list of houses or set of possible features is constrained to what is written above. Your function should still work if new houses were added to the above list.

Use this cell to test your function:

In [ ]:
assert find_houses(houses, 3, 1, ["garage"]) == ["42 Wallaby Way, Sydney", "109 Kirribilli Ave, Kirribilli"]
assert find_houses(houses, 6, 4, []) == ["109 Kirribilli Ave, Kirribilli"]
assert find_houses(houses, 1, 1, ["granny flat"]) == ["123 Fake Street, Mosman"]

# Feedback (Topic 3.4)

[https://forms.gle/Uod5Jpr7AJ2z7cHLA](https://forms.gle/Uod5Jpr7AJ2z7cHLA)

![](https://i.imgur.com/0L50D4L.png)