<a href="https://colab.research.google.com/github/sim-mautner/cs1010-21t3/blob/main/tutes-and-labs/04-lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 4 Lab:
 * Part a: 6 marks (recommended submission in week 4)
 * Part b: 3 marks

**IMPORTANT NOTE** If you're using Colaboratory, make sure you save a copy of these exercises to Google drive by clicking 'Copy to Drive' at the top of the page. Otherwise, your answers will not be saved.

# Week 4 Lab part a (6 marks)

## Set up Python and Visual Studio Code

If you haven't already, follow the instructions [here](https://hackmd.io/@sim/ByCohmeVF) to set up Python and Visual Studio Code on your computer.

This task is worth no marks, but you will need it for this week's lecture and next week's tutorial and lab.

## Lists (0.5 marks)

Like with strings, Python features many operations that can be performed on lists. These include:

* Concatenating (joining together) them with `+`
* Replicating (repeating) them with `*`
* Indexing them with `[...]`

Use these operations on the following list to answer the questions below. They can all be solved **without** loops.

In [ ]:
students = ["Sally Studies", "Penelope Prepares", "Francis Forgets", "David Doesn't-Read-Spec", "Oliver Overconfident", "Larry Leaves-It-To-The-Last-Minute"]

Who is the student at index 2?

Replace "David Doesn't-Read-Spec" with a new student "Emily Eager".

Create a new list with just the first two students repeated 2 times (i.e. `["Sally Studies", "Penelope Prepares", "Sally Studies", "Penelope Prepares"]`).

## For Loops (0.5 marks)

Write a function `one_word(words)` which takes in a list of strings and uses a `for... in...` loop to join all the words together in a single string (i.e. "correcthorsebatterystaple").

Use the cell below to test your code.

In [ ]:
words = ["correct", "horse", "battery", "staple"]
assert(one_word(words)=="correcthorsebatterystaple")

Write a function `as_and_es(words)` which uses a loop to calculate $2a + e$ where $a$ is the number of times the letter "a" appears in all the words and $e$ is the number of times the letter "e" occurs.

Use the cell below to test your code.

In [ ]:
words = ["correct", "horse", "battery", "staple"]
assert(as_and_es(words)==8)

Write a function `big_sum(numbers)` which takes in a list of numbers and uses a for loop to compute the sum of all the numbers in the given list excluding any that are 13 or greater.

Use the cell below to test your code.

In [ ]:
assert(big_sum([4 , 7 , 2, 13, 3, 5, 4, 12, 14]) == 37)

## While loops (1 mark)

Write a function, `odd_sum_while(n)` that computes all the positive *odd* numbers less than `n` with a `while` loop.

*Note*: You could do this with a `for` loop, but you should do it with a `while` loop for practice.

Use this cell to test whether you have implemented the function correctly.

In [ ]:
assert odd_sum_while(10) == 25

## More loops  (1 mark)

Given a list of numbers, you can compute a new list containing the *difference* between each element and its subsequent element. For example, given `[1, 2, 5, 3]`, the *difference* list would be `[1, 3, -2]`. Naturally, the new list has one less element than the original list.

Write a function `difference(numbers)` that computes the difference list for the argument `numbers`.

Use this cell to test your function.

In [ ]:
assert difference([1, 2, 5, 3]) == [1, 3, -2]
assert difference([3, 2, 567, 2, 45, 3, 7, 5]) == [-1, 565, -565, 43, -42, 4, -2]

Write another function, `final_difference(numbers)` that repeatedly applies `difference(numbers)` until only 1 number remains. That number is then returned.

Use this cell to test your function.

In [ ]:
assert final_difference([1, 2, 5, 3]) == -7
assert final_difference([3, 2, 567, 2, 45, 3, 7, 5]) == -13382

## Dictionaries Introduction (1 mark)

The following dictionary contains the number of enrolments in a variety of first-year courses.

In [ ]:
first_year_courses = { "COMP1010": 45, "COMP1511": 560, "COMP1911": 100, "MATH1131": 1034, "MATH1231": 895, "FINS1612": 423, "FINS1613": 587, "ACCT1501": 327 }

How many students are enrolled in COMP1010?

Construct a list containing all the courses with more than 500 students. You should get this as a result:
```
["COMP1511", "MATH1131", "MATH1231", "FINS1613"]
```

Find the total number of students enrolled in each subject area (the first 4 letters of the course code). Store these numbers in a dictionary. You should get this as a result:

```
{"COMP": 705, "MATH": 1929, "FINS": 1010, "ACCT": 327}
```

**NOTE**: Recall that dictionaries are unordered in this version of Python, so your result may not *appear* in exactly the same order as above, but as long as the numbers match, your result is correct.

## Dictionary Access (0.5 marks)

Write a function, `young_john(people)`, that returns `True` if the dictionary `people` contains the key `"John"` with a value of `19`. It should return `False` otherwise.

Use this cell to test if your function works.

In [ ]:
assert young_john({ "Rob": 31, "Sarah": 24, "Chen": 20, "John": 19})
assert not young_john({ "Rob": 31, "Sarah": 19, "Chen": 20, "James": 22})
assert not young_john({ "Rob": 31, "Sarah": 24, "Chen": 20, "John": 23})

## Generalised card game (0.5 marks)

Consider a game where certain cards are worth a certain number of points. Write a function, `score(card_points, cards)`, that takes in a dictionary representing the points for each card and a list of strings and calculates the total score for that list. You can assume that if a card is not in `card_points`, it is not worth any points. Examples of how the function is used are in the testing cell below.

Use the cell below to test if your function works.

In [ ]:
assert score({"Ace": 5, "King": 3, "Queen": 2, "Jack": 1 },
             ["10", "Jack", "Ace", "King", "Queen", "King", "3"]) == 14
assert score({"Fire": 2, "Wind": 1, "Water": 1, "Earth": 3 },
             ["Fire", "Fire", "Wind", "Water", "Earth"]) == 9

## Bringing it all together (1 mark)

Write a function, `common(list1, list2)`, that returns a dictionary. Each key in the dictionary corresponds to an element in *both* of the lists. The value for each key is the number of times that element appears across both lists. See the testing cell below for an example.

**HINT**: There are multiple ways to solve this, but you may find the simplest involves building at least two intermediate dictionaries and multiple loops.

Use this cell to test whether you have implemented the function correctly.

In [ ]:
assert common(["a", "b", "a", "d", "f", "a"], ["a", "b", "d", "d", "e"]) == { "a": 4, "b": 2, "d": 3 }

# Week 4 Lab part b (3 marks)

## Nested Structures (1 mark)

The following dictionary contains some courses and the list of tutorials for each of them.

In [ ]:
first_year_courses = { "COMP1010": ["T15A", "T17A", "T18A"], "FINS1612": ["M11A", "W12A"], "FINS1613": ["T12A", "T12B", "F09A"], "ACCT1501": ["T10A", "F15A"], "INFS3605": ["M10A", "T15A", "W12A", "W12B"] }

What is the first tutorial for COMP1010?

Construct a list containing all the courses that have exactly 3 tutorials. You should get this as a result:
```["COMP1010", "FINS1613"]```

Construct a list containing all the courses with a tutorial on a Tuesday (i.e. the tutorial code starts with a 'T'). You should get this as a result:
```
["COMP1010", "FINS1613", "ACCT1501", "INFS3605"]
```

**Hint**: Depending on how you approach this, you may need a nested loop.

## Complex Data Structures (1 mark)

This data structure contains a series of courses. For each course, there are a list of its tutorials and its enrolments.

In [ ]:
unsw_courses = { 
    "COMP1010": { 
        "name": "Art of Computing", 
        "tutorials": [ 
            { "code": "T15A", "room": "Quad 1041" },
            { "code": "T17A", "room": "ASB 111" },
            { "code": "T18A", "room": "Goldstein G03" }
        ],
        "enrollments": [
            { "zid": "z1234567", "tutorial": "T15A" },
            { "zid": "z7654321", "tutorial": "T17A" },
            { "zid": "z1357246", "tutorial": "T15A" },
            { "zid": "z2461357", "tutorial": "T18A" }
        ]
    },
    "FINS1613": { 
        "name": "Business Finance", 
        "tutorials": [ 
            { "code": "M12A", "room": "ASB 302" },
            { "code": "H16B", "room": "J17 G12" }
        ],
        "enrollments": [
            { "zid": "z7654321", "tutorial": "M12A" },
            { "zid": "z1234567", "tutorial": "M12A" },
            { "zid": "z1357246", "tutorial": "H16B" }
        ]
    },
    "FINS1612": { 
        "name": "Capital Markets & Institution", 
        "tutorials": [ 
            { "code": "T11A", "room": "ASB 111" },
            { "code": "F11A", "room": "J17 G12" },
            { "code": "M09A", "room": "Goldstein G03" }
        ],
        "enrollments": [
            { "zid": "z1357246", "tutorial": "M09A" },
            { "zid": "z7654321", "tutorial": "T11A" },
            { "zid": "z1234567", "tutorial": "F11A" },
            { "zid": "z2461357", "tutorial": "F11A" }
        ]
    }
}

Write a function `timetable(zid)` that, given a student number returns the timetable of the student in the format shown in the test cell below.

**NOTE**: Your function should still work if new courses, tutorials or enrolments were added to the above data structure-- i.e. you shouldn't have any specific course or tutorial codes hardcoded in your solution.

Use this cell to test if your function is correct.

In [ ]:
assert timetable('z1234567') == { 
    "COMP1010": { "time": "T15A", "room": "Quad 1041" },
    "FINS1613": { "time": "M12A", "room": "ASB 302" },
    "FINS1612": { "time": "F11A", "room": "J17 G12" }
}
assert timetable('z2461357') == { 
    "COMP1010": { "time": "T18A", "room": "Goldstein G03" },
    "FINS1612": { "time": "F11A", "room": "J17 G12" }
}

## Program Composition (1 mark)

### Majority Vote
Create a function, `majority(votes)`, that returns the majority vote in a list. A majority vote is an element that occurs $> \frac{n}{2}$ times in a list (where $n$ is the length of the list). If there is no majority vote, the function should return `None`.

Use this cell to test your function.

In [ ]:
assert majority(["A", "A", "B"]) == "A"
assert majority(["pizza", "pizza", "pizza", "burger", "burrito", "pizza"]) == "pizza"
assert majority(["koala", "kangaroo", "kangaroo", "koala", "wombat", "wombat"]) == None
assert majority(["dogs", "cats", "dogs", "snakes"]) == None

### Grouping

Create a function, `group(strings)`, that groups strings by their first character. The argument `strings` is a list of strings and the returned grouping should be a list of lists. The function should preserve ordering as much as possible-- i.e. the first strings in all the sublists should be in the order they appear in the original list, as should the strings inside each sublist. See the test cell below for some examples.

Use this cell to test if your function is correct

In [ ]:
assert group(["hello", "goodbye", "hi", "goodness"]) == [["hello", "hi"], ["goodbye", "goodness"]]
assert group(["python", "java", "prolog", "purescript", "javascript", "haskell"]) == [["python", "prolog", "purescript"], ["java", "javascript"], ["haskell"]]

## Challenge #1

**NOTE:** This question is **NOT** worth any marks and is meant to present a significant challenge. It's here for those who wish to extend themselves. Even if you're not able to solve it, you may find giving it a try good practice and you can always come back to it in later weeks.

Solve the problem described below:

> Oh no, there era grimlens (or parheps just eno nysta grimlen) in my cumpetor, semithong wierd is heppinang to my vewols! Thye seem to be ratetod thruogh aech word, aech eno rapleces the vewol to its left and the first eno mevos oruand to the last pisitoon. That's a tirryble creul thing to do.

## Challenge #2

**NOTE:** This question is **NOT** worth any marks and is meant to present a significant challenge. It's here for those who wish to extend themselves. Even if you're not able to solve it, you may find giving it a try good practice and you can always come back to it in later weeks.

The following cell constructs the map of "Romania" as a dictionary of dictioanries.

In [ ]:
romania = {
    'Arad': { 'Zerind': 75, 'Sibiu': 140, 'Timisoara': 118 },
    'Zerind': { 'Arad': 75, 'Oradea': 71 },
    'Sibiu': { 'Arad': 140, 'Oradea': 151, 'Fagaras': 99, 'Rimnicu Vilcea': 80 },
    'Timisoara': { 'Arad': 118, 'Lugoj': 111 },
    'Oradea': { 'Zerind': 71, 'Sibiu': 151 },
    'Lugoj': { 'Timisoara': 111, 'Mehadia': 70 },
    'Fagaras': { 'Sibiu': 99, 'Bucharest': 211 },
    'Rimnicu Vilcea': { 'Sibiu': 80, 'Pitesti': 97, 'Craiova': 146 },
    'Mehadia': { 'Lugoj': 70, 'Dobreta': 75 },
    'Bucharest': { 'Fagaras': 211, 'Pitesti': 101, 'Urziceni': 85, 'Giurglu': 90 },
    'Pitesti': { 'Rimnicu Vilcea': 97, 'Bucharest': 101, 'Craiova': 138 },
    'Craiova': { 'Rimnicu Vilcea': 146, 'Pitesti': 138, 'Dobreta': 120 },
    'Dobreta': { 'Mehadia': 75, 'Craiova': 120 },
    'Urziceni': { 'Bucharest': 85, 'Hirsova': 98, 'Vaslui': 142 },
    'Giurglu': { 'Bucharest': 90 },
    'Hirsova': { 'Urziceni': 98, 'Eforie': 86 },
    'Vaslui': { 'Urziceni': 142, 'Lasi': 92 },
    'Eforie': { 'Hirsova': 86 },
    'Lasi': { 'Vaslui': 92, 'Neamt': 87 },
    'Neamt': { 'Lasi': 87 }
}

Write a function, `nearby(city)`, that returns a list containing all the cities within a 300 mile trip of the the given city, assuming you can only travel along the roads given.